@import "./variables";
@import "./mixins";

.navbar {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $millbrook;
  height: 60px;
  color: #fff;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .madisonKramerDev {
    justify-content: flex-start;
    padding-left: 20px;
    .name {
      position: relative;
      top: 8px;
      font-family: "Manrope", sans-serif;
      font-size: 20px;
    }
    .dev {
      color: $carouselPink;
      font-size: 14px;
      position: relative;
      bottom: 16px;
    }
  }
  .anchorLinks {
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 500;

    @include tabAndLess {
      display: none;
      
    }
    &--open{
      
      display:block;
      height: 200px;
    }
    &__list {
      display: flex;
      position: relative;
      height: 100%;
      margin-right: 34px;
      
      
      @include tabAndLess{
        flex-direction: column;
        background-color: $millbrook;
        top: 63px;
        width: 100%;
        padding: 0;

      }
      li {
        list-style-type: none;
        width: 130px;
        transition-duration: 250ms;
        height: 100%;
        cursor: pointer;
        @include tabAndLess{
          height: 50px;
          width: 100%;
          border-bottom: 1px solid #fff;
          line-height: 50px;
          
          &:nth-child(1){
            border-top: 1px solid #fff;
            margin-top: 50px;
          }
        }
        &:hover {
          transform: scale(1.15);
        }
        .anchorLink {
          
          text-decoration: none;
          &:any-link{
            color: #fff;
          }
          &:visited {
            color: #fff;
          }
          &:hover {
            color: $carouselPink;
          }
        }
      }
    }
  }
  .responsiveIcon {
    display: none;
    padding: 30px;
    font-size: 26px;
    @include tabAndLess {
      display: inline;
      position: absolute;
      right: 10px;
      
    }
  }
}

.menuAppear{
  animation-name: menuAppear;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
}

@keyframes menuAppear {
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
  
}