.whoIAm {
  padding-top: 80px;


  .presentationContainer {
    padding: 20px 0px;
    display: flex;
    @include tabAndLess{
      flex-direction: column;
    }
    .picSection {
      .profilePic {
        width: 330px;
        padding: 0px 40px;
        @include smartphoneOnly{
          width: 200px;
        }
      }
    }
    .presentation {
      padding: 0px 20px;
      .presentationP {
        text-align: start;
        color: $millbrook;
        font-weight: 500;
        @include tabAndLess{
          text-align: center;
        }
        @include tabOnly{
          font-size: 20px;
        }
        @include smartphoneOnly{
          font-size: 14px;
        }
      }
      .downloadCVButton {
        display: flex;
        justify-content: center;

        .downloadCVLink {
          margin: 14%;
          text-decoration: none;
          font-size: 16px;
          background-color: $millbrook;
          color: #fff;
          padding: 15px 40px;
          border-style: none;
          border-radius: 15px;
          font-family: "Raleway";
          cursor: pointer;
          transition-duration: 200ms;
          @include tabAndLess{
            margin: 50px;
          }
          &:hover {
            animation: rotateBtn 0.42s infinite;
            color: $millbrook;
            background-color: $carouselPink;
            font-weight: bold;
            border: 2px solid $millbrook;
          }
         
        }
      }
    }
  }
  .mediaIcons {
    display: flex;
    margin: 50px 120px;
    .icons {
      margin-left: 20px;
      color: $millbrook;
      font-size: 26px;
      cursor: pointer;
      transition-duration: 150ms;
      &:hover {
        scale: 1.3;
      }
    }
  }
}


@keyframes rotateBtn {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    transform: translateX(-5px) rotate(-5deg);
  }

  40% {
    transform: translateX(-2px) rotate(-2deg);
  }

  60% {
    transform: translateX(5px) rotate(5deg);
  }

  80% {
    transform: translateX(2px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}